<%- include('partials/header')%>

<!-- This is the landing page for the website -->
<section class="first">
    <div class="background-img">
        <div class="container big-sec" id="sec1">
        <div class="title">
            <h1>Cross Device Webcam Linking!</h1>
            
                    
        </div>
        <div class="section1">
            <div class="desk">
                
                <img class="desk-pic" src="img/desk.png" alt="a desk with a laptop" width="75%">
            </div>
            <div class="login">
                    
                    <div class="login-2">

                        <img class="pirate-pic" src="img/Referances/YoungPirate.png" alt="A pirate" width="200px;">
                        <div class="home-buttons">
                            <form action="/register">
                                <button type="submit" class="btn btn-light btn-home">Register</button>
                            </form>
                            <form action="/login">
                                <button type="submit" class="btn btn-success btn-home">Login</button>
                            </form>
                            <form action="/guest">
                                <button type="submit" class="btn btn-dark btn-home">Continue as Guest</button>
                            </form>
                        </div>

                    </div>

            </div>

        </div>
           
            

            <h2>Easy as 1, 2, 3!</h2>
        </div>
        
    </div>
</section>
<section class="second">
<div class="background-img-2">

    <div class="in-second">
        <img class="numbers" src="img/icons8_1_circle_200px_1.png" alt="1">
        <img class="icon" src="img/icons8_wallmount_camera_filled_100px.png" alt="camera">
        
        <h3>Open a connection</h3>
        <hr>
        <p>Touch the button above to open a WebRTC connection</p>
    </div>
    <div class="in-second">
        <img class="numbers" src="img/icons8_2_circle_200px.png" alt="2">
        <img class="icon" src="img/icons8_password_filled_100px.png" alt="camera">
        <h3>Set a password</h3>
        <hr>
        <p>You dont want just anybody tuning in to your camera feed. protect it with a password</p>
    </div>
    <div class="in-second">
            <img class="numbers" src="img/icons8_3_circle_200px.png" alt="3">
            <img class="icon" src="img/icons8_multiple_devices_48px_1.png" alt="camera">
            <h3>Tune In</h3>
        <hr>
        <p>Visit the link with a compatable browser to view feed</p>
    </div>
</div>
</section>

<%- include('partials/footer')%>
