<%- include('partials/header')%>

<!-- This is the landing page for the website -->
<section class="first">
    <div class="background-img">
        <div class="container big-sec" id="sec1">
        <div class="title">
            <h1>Protecting your belongings</h1>
            <h2>just got easyer!</h2>
                    
        </div>
        <div class="section1">
            <div class="desk">
                
                <img class="desk-pic" src="img/desk.png" alt="a desk with a laptop" width="75%">
            </div>
            <div class="login">
                    
                    <div class="login-2">

                        <img class="pirate-pic" src="img//Referances/YoungPirate.png" alt="A pirate" width="200px;">
                        <div class="home-buttons">
                            <form action="/register">
                                <button type="submit" class="btn btn-light btn-home">Register</button>
                            </form>
                            <form action="/login">
                                <button type="submit" class="btn btn-success btn-home">Login</button>
                            </form>
                            <form action="/guest">
                                <button type="submit" class="btn btn-dark btn-home">Continue as Guest</button>
                            </form>
                        </div>

                    </div>

            </div>

        </div>
           
            


        </div>
    </div>
</section>
<section class="second">
<div class="background-img-2">

</div>
</section>

<%- include('partials/footer')%>
