<%- include('partials/header')%>

<!-- This is the landing page for the website -->
<section class="first">
    <div class="background-img">
        <div class="container big-sec" id="sec1">
            <div class="desk">
                <h1>Protecting your belongings</h1>
                <h2>just got easyer!</h2>
                <img class="desk-pic" src="img/desk.png" alt="a desk with a laptop" width="75%">
            </div>
            <div class="login">
                    <h1>Welcome Aboard</h1>
                    
                    <br>
                
                    <button type="button" class="btn btn-dark btn-home">Start</button>
                    <button type="button" class="btn btn-light btn-home">Register</button>
                    <button type="button" class="btn btn-success btn-home">Login</button>
                
            <div class="whale">
                <img class="whale-pic" src="img/whale.png" alt="A pirate whale" width="50%">
            </div>    
            </div>
            


        </div>
    </div>
</section>
<section class="second">
<div class="background-img-2">

</div>
</section>

<%- include('partials/footer')%>
