<%- include('partials/header')%>
<link href="css/notfound.css" rel="stylesheet">
<!-- This page will display a qr code to view the webcam stream -->
<div class="body">
<img class="mb-4" src="img/whale.png" alt="whale logo" width="300" height="300">
    <h1>This is not a valid patrol ID</h1> 
</div>

<%- include('partials/footer')%>